<footer class="footer navbar-fixed-bottom  footnav">
   
        <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2); flex-shrink: 0;" >
       
            <!--These links will bring you book related pages, it will open up on another page -->
            <p> View are Social Media links and connect with other Book Spot Lovers </p>
            <b3>
            <a href="https://www.facebook.com/groups/416020909227099/" target="_blank" >Facebook | </a> 
            <a href="https://www.instagram.com/mybookfeatures/?hl=en" target="_blank" >Instagram | </a> 
            <a href="https://youtu.be/RQgXY07sz8Q?si=OdZPAfmaguit0_5O" target="_blank" >Youtube  </a> 
            <br>
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/" target="_blank" >MDBootstrap.com</a>
        </div>
 
  
</footer>