<title>Contact us page</title>

<br>
<div class="contactContainer">
    <h4> Complete our Book Spot Contact form below </h4>
    <br>

    <div class="contact_images">
        <%= image_tag "contactbooks.png" %>
    </div> 
    <br>
    <p> We have a estimated 24 hour return your query time frame </p>
    <form action="" id="contactForm">
        <label for="fName">First Name: </label>
        <input type="fName" name="fName" placeholder="First Name" required> <br>
        <label for="fName">Last Name: </label>
        <input type="fName" name="lName" placeholder="Last Name" required> <br>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" > <br>
        <label for="subject">Subject:</label><br>
        <textarea id="subject" name="subject" placeholder="Write something.." ></textarea>
        <br>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>

<br>
<div class="contact_images">
    <%= image_tag "contactImage.png" %>
</div>  
<br>