<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<title>Books</title>

  <h4> Marvell at your Greatness </h4>
  <p>
    It doesnt matter the size of the book, you have made the effect, why not add your read book to the list. <br>
    <%= link_to "Add ", new_book_path %> another book to your Collection
  </p>

  <br>
  <p>♥</p>

  <!--This below will display the book added to the list-->

  <div class="bookCollection_list" >
  <% @books.each do |book| %>
    <%= render book  %>
    <p>
      <%= link_to "view", book %> this book </p>
      <p>♥</p>
      <br>
    <% end %>
  </div>
<br>
