<% content_for :title, "New book" %>

<title>New book</title>
<br>
<p>Complete the book form below to be able to add your read books to your growing collection </p>



<%= render "form", book: @book %>

<br>

<div>
 Open your Book <%= link_to "Collection", books_path %>
</div>
<br>
<%= image_tag "bookheart.png"%> <!--https://www.pexels.com/photo/closeup-photography-of-book-page-folding-forming-heart-1083633/-->
